{% extends 'giftzone/layout.html' %}
{% block title %}{{product.title}}{% endblock %}

{% block content %}
    <h1>
        {{product.title}}
    </h1>
    <div>
            {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt=" {{product.title}} image" style="max-width: 500px;">
            {% endif %}
            <div class="card-body">
                    <a href ="{% url 'product_details' product.category.slug product.slug %}">
                        <h5 class="card-title">{{product.title}}</h5>
                    </a>
                    <p class="card-text">£ {{product.price}}</p><p class="card-text">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
            </div>

    </div>

{% endblock %}
